extends layout
block content
  #banner.page--header 
    .row 
      .col-lg-6 
        h1 
          | MekanBul 
          small &nbsp; Civardaki Mekanları Keşfet! 
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Bilgisayar Mühendisliği 
          small &nbsp;
          span.glyphicon.glyphicon-start
          span.glyphicon.glyphicon-start
          span.glyphicon.glyphicon-start
          span.glyphicon.glyphicon-start
          span.glyphicon.glyphicon-start-empty 
        span.badge.pull-right.badge-default 3km 
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Mühendislik Öğrencileri
          | &nbsp; 
          span.label.label-warning Öğretim Görevlileri
          | &nbsp;
          span.label.label-warning Dekanlık
          | &nbsp;
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan')  Rektörlük 
          small &nbsp;
          span.glyphicon.glyphicon-start
          span.glyphicon.glyphicon-start
          span.glyphicon.glyphicon-start
          span.glyphicon.glyphicon-start
          span.glyphicon.glyphicon-start-empty 
        span.badge.pull-right.badge-default 1km 
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Rektör Bey
          | &nbsp; 
          span.label.label-warning Özel Kalem 
          | &nbsp;
          span.label.label-warning Görevli Hocalar
          | &nbsp;
  .row 
      .row.list-group 
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item
          h4 
            a(href='/mekan') Bilgi İşlem Daire Başkanlığı
            small &nbsp;
            span.glyphicon.glyphicon-start
            span.glyphicon.glyphicon-start
            span.glyphicon.glyphicon-start
            span.glyphicon.glyphicon-start
            span.glyphicon.glyphicon-start-empty 
          span.badge.pull-right.badge-default 2km 
          p.address SDÜ Batı Kampüsü
          p 
            span.label.label-warning Teknik Servis 
            | &nbsp; 
            span.label.label-warning Ağ ve Sistem
            | &nbsp;
            span.label.label-warning Yazılım
            | &nbsp;
